<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consulter Offres</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card {
            margin-bottom: 1.5rem;
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e5e9f2;
            border-radius: .2rem;
        }
    </style>
</head>
<body>

<div th:insert="layout/navbar :: navbar"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="card-body">
            <h2>Modifier un utilisateur</h2>
            <hr>
            <h5 class="card-title">Utilisateur</h5>
            <form autocomplete="off" action="#" th:action="@{/admin/user/edit}" th:object="${user}"
                  method="POST" class="form-horizontal" role="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Prénom </label>
                        <input type="text" th:value="${user.name}" name="name"
                               class="form-control" id="name" placeholder="Prénom">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Nom </label>
                        <input type="text" th:value="${user.lastName}" name="lastName"
                               class="form-control" id="lastName" placeholder="Nom">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="userName">Username</label>
                        <input type="text" th:value="${user.userName}" name="userName" readonly
                               class="form-control" id="userName" placeholder="username">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="text" th:value="${user.email}" name="email" readonly
                               class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" th:value="${user.password}" name="password" readonly
                           class="form-control" id="password" placeholder="Password">
                </div>

                <div class="col-sm-12">
                    <label>Sexe</label>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="option1" name="option1" class="custom-control-input"
                                   value="Masculin" th:field="*{sexe}" th:checked="${user.sexe == 'Masculin'}">
                            <label class="custom-control-label" for="option1">Masculin</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="option2" name="option2" class="custom-control-input"
                                   value="Feminin" th:field="*{sexe}" th:checked="${user.sexe == 'Feminin'}">
                            <label class="custom-control-label" for="option2">Féminin</label>
                        </div>
                    </div>
                    <label th:if="${#fields.hasErrors('sexe')}" th:errors="*{sexe}"
                           class="validation-message"></label>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pays">Pays</label>
                        <input type="text" th:value="${user.pays}" name="pays" class="form-control"
                               id="pays" placeholder="Pays">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ville">Ville</label>
                        <input type="text" th:value="${user.ville}" name="ville" class="form-control"
                               id="ville" placeholder="Ville">
                    </div>
                </div>
                <div class="form-group">
                    <label for="secteurActivite">Secteur d'activité</label>
                    <input type="text" th:value="${user.secteurActivite}"
                           class="form-control" id="secteurActivite" name="secteurActivite"
                           placeholder="Secteur d'activité">
                </div>
                <div class="form-group">
                    <label for="titre_fonction">Titre Fonction</label>
                    <input type="text" th:value="${user.titre_fonction}" name="titre_fonction"
                           class="form-control" id="titre_fonction" placeholder="Titre Fonction">
                </div>
                <div class="form-group">
                    <label for="telephone">Numéro de Téléphone</label>
                    <input type="text" th:value="${user.telephone}" name="telephone"
                           class="form-control" id="telephone" placeholder="Téléphone">
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="layout/footer :: footer">&copy; 2016 The Static Templates</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>