<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consulter Offres</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .card {
            margin-bottom: 1.5rem;
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        }
        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e5e9f2;
            border-radius: .2rem;
        }
    </style>
</head>
<body>

<div th:insert="layout/navbar :: navbar"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 card" th:if="${postulations != null}">
            <h4>Candidatures</h4>
            <ul class="list-group list-group-flush" th:field="*{postulations}">
                <li class="list-group-item" th:each="post: ${postulations}" th:value="${post.id}">
                    <div><b><u>Offres</u></b> :<span th:text="${post.offreEmploi.getPoste()}"></span> / <span
                            th:text="${post.offreEmploi.getTypeOffre()}"></span> / <span
                            th:text="${post.offreEmploi.getRegion()}"></span></div>
                    <div><b><u>Postulant</u></b> :
                        <a class="active" href="/recruteur/consulter_candidatures"
                           th:href="@{/recruteur/consulter_candidatures(postulation=${post.id})}">
                            <span th:text="${post.user.name}"></span> <span th:text="${post.user.lastName}"></span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-4" th:if="${postulations == null}">
            <h4>Candidatures</h4>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${postulation == null}">
                <strong><i class="far fa-frown"></i> </strong> Pas encore d'offre à ce jour.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="col-md-8">
            <h4>Détails sur le candidat</h4>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${postulation == null}">
                <strong>Hello !!! </strong> Veuillez sélectionner un candidat pour voir son CV et Lettre de motivation.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card" th:if="${postulation != null}">
                <div class="card-body">
                    <h6 class="list-group-item">
                        <i class='far fa-address-card'></i> <span th:text="${postulation.cv.user.name}"></span>
                        <span th:text="${postulation.getCv().getUser().lastName}"></span> -
                        <span th:text="${postulation.getCv().getUser().titre_fonction}"></span>
                    </h6>
                    <h6 class="list-group-item">
                        <i class="fas fa-mobile-alt"></i> Email: <span
                            th:text="${postulation.getCv().getUser().getEmail()}"></span> -
                        Mobile : <span th:text="${postulation.getCv().getUser().getTelephone()}"></span>
                    </h6>
                    <h6 class="list-group-item">
                        <i class="fas fa-city"></i> <span th:text="${postulation.getCv().getUser().getPays()}"></span> -
                        <span th:text="${postulation.getCv().getUser().getVille()}"></span>
                    </h6>
                </div>
            </div>
            <div id="accordion" th:if="${postulation != null}">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                Objectif
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <strong th:text="${postulation.getCv().getObjectif()}"></strong> - <strong
                                th:text="*{postulation.getCv().getUser().getTitre_fonction()}"></strong>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                Expériences Professioneelles
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul th:field="*{postulation.getCv().getExperienceProfessionnelle()}">
                                <li class="list-group-item"
                                    th:each="experience: ${postulation.getCv().getExperienceProfessionnelle()}"
                                    th:value="${experience.id}">
                                    <div><u>Nom Entreprise : </u><span th:text="${experience.nomEntreprise}"></span>
                                    </div>
                                    <div><u>Poste : </u><span th:text="${experience.poste}"></span></div>
                                    <div><u>Compétence : </u><span th:text="${experience.competence}"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                Formations
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <ul th:field="*{postulation.getCv().getFormation()}">
                                <li class="list-group-item" th:each="formation: ${postulation.getCv().getFormation()}"
                                    th:value="${formation.id}">
                                    <div><u>Etablissement : </u><span th:text="${formation.getEtablissement()}"></span>
                                    </div>
                                    <div><u>Nom Diplome : </u><span th:text="${formation.getNomDiplome()}"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                Connaissances Linguistiques
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <ul th:field="*{postulation.getCv().getConnaissanceLinguistique()}">
                                <li class="list-group-item"
                                    th:each="lingui: ${postulation.getCv().getConnaissanceLinguistique()}"
                                    th:value="${lingui.id}">
                                    <div><u>Nom langue : </u><span th:text="${lingui.nomLangue}"></span></div>
                                    <div><u>Niveau : </u><span th:text="${lingui.niveauLangue}"></span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="layout/footer :: footer">&copy; 2016 The Static Templates</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>