<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Consulter Offres</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:insert="layout/navbar :: navbar"></div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <strong>Welcome Back, <span th:text="${currentUser.getName()}"></span> - <span th:text="${currentUser.getLastName()}"></span></strong>
            <br>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title" sec:authorize="isAuthenticated()">
                        <span th:text="${currentUser.getName()}"></span> - <span th:text="${currentUser.getLastName()}"></span>
                    </h5>
                    <br>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted"><span th:text="${currentUser.getTitre_fonction()}"></span></h6>
                    <br/>
                    <h6 class="card-subtitle mb-2 text-muted"><span th:text="${currentUser.getPays()}"></span> - <span th:text="${currentUser.getVille()}"></span></h6>
                 <!--   <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>-->
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Offres recommandés pour vous
                </div>
                <div class="card-body">
                    <div class="card w-100" th:each="offre, index : ${offres}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${offre.getPoste()}"></h5>
                            <p class="card-text" th:text="${offre.getDescription()}"></p>
                            <a href="/candidat/postuler" th:href="@{/candidat/postuler(offre=${offre.id})}" class="btn btn-primary float-right">Postuler</a>
                            <span class="card-text" th:text="${offre.getRegion()}"></span> - <span class="card-text" th:text="${offre.getTypeOffre()}"></span>
                            <p class="card-text"><small class="text-muted" th:text="${offre.getDateOffreEmploi()}"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="layout/footer :: footer">&copy; 2016 The Static Templates</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>