<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Consulter Offres</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .card {
            margin-bottom: 1.5rem;
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e5e9f2;
            border-radius: .2rem;
        }
    </style>
</head>
<body>

<div th:insert="layout/navbar :: navbar"></div>
<br>
<br>
<div class="container" id="forSearch">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${cvIsNull}">
        <strong>Ouppss !!! </strong> Nous n'avez pas saisi votre CV ni lettre de modivation pour postuler à cet offre.
        Veuillez les mettre à jour.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="row" id="inList">
        <div class="col-md-3" th:if="${currentUser != null}">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title" sec:authorize="isAuthenticated()">
                        <i class="fas fa-user-alt"></i> </i><span th:text="${currentUser.getName()}"></span> - <span
                            th:text="${currentUser.getLastName()}"></span>
                    </h6>
                    <hr/>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-id-card"></i> <span
                            th:text="${currentUser.getTitre_fonction()}"></span></h6>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-location-arrow"></i> <span
                            th:text="${currentUser.getPays()}"></span> - <span
                            th:text="${currentUser.getVille()}"></span></h6>
                </div>
            </div>
        </div>
        <div class="col-md-9" id="inList1">
            <div class="card">
                <div class="card-header">
                    <h3 style="align-content: center">Offres recommandés pour vous</h3>
                    <input class="form-control" id="myInput" type="text" placeholder="Rechercher un offre ...">
                </div>
                <div class="card-body" th:if="${offres == null}">
                    Vous avez postulé à tous les offres disponibles.
                </div>
                <div class="card-body" id="inList2">
                    <h5 th:if="${successMessage != ''}">
                        <span th:text="${successMessage}"></span>
                    </h5>
                    <div class="card w-100" th:each="offre, index : ${offres}" id="inList3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fas fa-user-circle"></i> <span th:text="${offre.getPoste()}"></span>
                            </h5>
                            <p class="card-text float-right" th:text="${offre.getDescription()}"></p>
                            <p th:text="${offre.getRecruteur().getSecteurActivite()}"></p>
                            <a href="/candidat/postuler" th:href="@{/candidat/postuler(offre=${offre.id})}"
                               class="btn btn-primary float-right">Postuler</a>
                            <span class="card-text" th:text="${offre.getRegion()}"></span> - <span class="card-text"
                                                                                                   th:text="${offre.getTypeOffre()}"></span>
                            <p class="card-text"><small class="text-muted"
                                                        th:text="${offre.getDateOffreEmploi()}"></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="layout/footer :: footer">&copy; 2016 The Static Templates</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>