<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CV et Lettre de Motivation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/page.css" rel="stylesheet" th:href="@{/css/page.css}" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .nav-tabs .nav-link.active {
            font-weight: bold;
            background-color: transparent;
            border-bottom: 1px solid dodgerblue;
            border-left: 6px solid dodgerblue;
        }

        .tab-content .row .nav-link.active {
            font-weight: bold;
            background-color: transparent;
            border-left: 6px solid dodgerblue;
            border-bottom: 1px solid dodgerblue;
            color: black;
        }
    </style>
</head>
<body>

<div th:insert="layout/navbar :: navbar"></div>
<div class="container">
    <!-- Deposer CV
     Remplir votre CV pour:
      - Etre visible aupres des recruteurs
      - Postuler aux offres d’emploi en quelques clics-->

    <br>
    <h1>Cv et Lettre de Motivation</h1>
    <br>
    <br>
    <nav>
        <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
            <a aria-controls="nav-home" aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
               href="#nav-home"
               id="nav-home-tab" role="tab"> <i class="far fa-file-word"></i> CV</a>
            <a aria-controls="nav-profile" aria-selected="false" class="nav-item nav-link" data-toggle="tab"
               href="#nav-profile"
               id="nav-profile-tab" role="tab"><i class="far fa-file-word"></i> Lettre</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
            <br>
            <h2>Formulaire de CV</h2>
            <hr>
            <br>
            <div class="row">
                <div aria-orientation="vertical" class="nav flex-column nav-pills col-md-3" id="v-pills-tab"
                     role="tablist">
                    <a aria-controls="v-pills-home" aria-selected="true" class="nav-link active" data-toggle="pill"
                       href="#v-pills-home"
                       id="v-pills-home-tab" role="tab">Objectif</a>
                    <a aria-controls="v-pills-experience" aria-selected="false" class="nav-link" data-toggle="pill"
                       href="#v-pills-experience" id="v-pills-experience-tab" role="tab">Expériences</a>
                    <a aria-controls="v-pills-formation" aria-selected="false" class="nav-link" data-toggle="pill"
                       href="#v-pills-formation" id="v-pills-formation-tab" role="tab">Formations</a>
                    <a aria-controls="v-pills-linguistique" aria-selected="false" class="nav-link" data-toggle="pill"
                       href="#v-pills-linguistique" id="v-pills-linguistique-tab" role="tab">Linguistiques</a>
                </div>
                <div class="tab-content col-md-9" id="v-pills-tabContent">
                    <div aria-labelledby="v-pills-home-tab" class="tab-pane fade show active" id="v-pills-home"
                         role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <h2>Objectifs</h2>
                                <br>
                                <form action="#" autocomplete="off" class="form-horizontal" method="POST"
                                      role="form" th:action="@{/candidat/postuler/resume}" th:object="${cv}">
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <label class="validation-message" th:errors="*{objectif}"
                                                   th:if="${#fields.hasErrors('objectif')}"></label>
                                            <textarea class="form-control" placeholder="Objectif" rows="4"
                                                      th:field="*{objectif}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body" th:text="${cv.objectif}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="v-pills-experience-tab" class="tab-pane fade" id="v-pills-experience"
                         role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <h2>Expériences</h2>
                                <br>
                                <form action="#" autocomplete="off" class="form-horizontal"
                                      method="POST"
                                      role="form" th:action="@{/candidat/postuler/experience}"
                                      th:object="${experienceProfessionnelle}">
                                    <div class="form-group">
                                        <div class="col-sm-9" style="display: none;">
                                            <input type="text" name="id" value="id"
                                                   th:value="${experienceProfessionnelle.id}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <label class="validation-message" th:errors="*{competence}"
                                                   th:if="${#fields.hasErrors('competence')}"></label>
                                            <input class="form-control" placeholder="Compétence"
                                                   th:field="*{competence}"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <label class="validation-message"
                                                   th:errors="*{secteurActivite}"
                                                   th:if="${#fields.hasErrors('secteurActivite')}"></label>
                                            <input class="form-control" placeholder="Secteur d'activité"
                                                   th:field="*{secteurActivite}" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <label class="validation-message"
                                                   th:errors="*{nomEntreprise}"
                                                   th:if="${#fields.hasErrors('nomEntreprise')}"></label>
                                            <input class="form-control" placeholder="Nom entreprise"
                                                   th:field="*{nomEntreprise}"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <label class="validation-message" th:errors="*{region}"
                                                   th:if="${#fields.hasErrors('region')}"></label>
                                            <input class="form-control" placeholder="Région" th:field="*{region}"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <label class="validation-message" th:errors="*{poste}"
                                                   th:if="${#fields.hasErrors('poste')}"></label>
                                            <input class="form-control" placeholder="Poste" th:field="*{poste}"
                                                   type="text"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <div class="card"
                                     th:field="*{experienceProfessionnelles}">
                                    <div class="card"
                                         th:each="exp: ${experienceProfessionnelles}"
                                         th:value="${exp.id}">
                                        <!--                                        <form action="#" class="form-horizontal" method="GET" role="form" th:action="@{/candidat/deposer_cv(experience=${exp.id})}">-->
                                        <a href="/candidat/deposer_cv" role="button"
                                           th:href="@{/candidat/deposer_cv(experience=${exp.id})}">
                                            <i class="far fa-edit"></i> <span th:text="${exp.nomEntreprise}"></span> -
                                            <span th:text="${exp.poste}"></span>
                                        </a>
                                        <!--                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-labelledby="v-pills-formation-tab" class="tab-pane fade" id="v-pills-formation"
                         role="tabpanel">
                        <h2>Formations</h2>
                        <br>
                        <form action="#" autocomplete="off" class="form-horizontal"
                              method="POST" role="form" th:action="@{/candidat/postuler/formation}"
                              th:object="${formation}">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="validation-message" th:errors="*{etablissement}"
                                           th:if="${#fields.hasErrors('etablissement')}"></label>
                                    <input class="form-control" placeholder="Etablissement" th:field="*{etablissement}"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="validation-message" th:errors="*{nomDiplome}"
                                           th:if="${#fields.hasErrors('nomDiplome')}"></label>
                                    <input class="form-control" placeholder="Nom diplome" th:field="*{nomDiplome}"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="validation-message" th:errors="*{duree}"
                                           th:if="${#fields.hasErrors('duree')}"></label>
                                    <input class="form-control" placeholder="Durée Formation" th:field="*{duree}"
                                           type="number"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div aria-labelledby="v-pills-linguistique-tab" class="tab-pane fade" id="v-pills-linguistique"
                         role="tabpanel">
                        <h2>Linguistiques</h2>
                        <br>
                        <form action="#" autocomplete="off" class="form-horizontal"
                              method="POST" role="form" th:action="@{/candidat/postuler/linguistiques}"
                              th:object="${connaissanceLinguistique}">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="validation-message" th:errors="*{nomLangue}"
                                           th:if="${#fields.hasErrors('nomLangue')}"></label>
                                    <input class="form-control" placeholder="Nom Langue" th:field="*{nomLangue}"
                                           type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="validation-message" th:errors="*{niveauLangue}"
                                           th:if="${#fields.hasErrors('niveauLangue')}"></label>
                                    <input class="form-control" placeholder="Niveau" th:field="*{niveauLangue}"
                                           type="text"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
            <br/>
            <h2>Lettre de Motivation</h2>
            <br>
            <form action="#" autocomplete="off" class="form-horizontal" method="POST"
                  role="form" th:action="@{/candidat/postuler/lettreMotivation}" th:object="${lettreMotivation}">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="validation-message" th:errors="*{texte}"
                               th:if="${#fields.hasErrors('texte')}"></label>
                        <textarea class="form-control" placeholder="Lettre de Motivation" rows="8" th:field="*{texte}"
                                  type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-primary btn-block" type="submit">Enregistrer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:insert="layout/footer :: footer">&copy; 2016 The Static Templates</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</body>
</html>