<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Infos Postulations</title>
    <link rel="stylesheet" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div th:insert="layout/navbar :: navbar"></div>
<div class="container">
    <h3>Liste offre postulée</h3>
    <br>
    <div class="card" th:if="${postulations != null}">
        <ul th:field="*{postulations}">
            <li class="list-group-item" th:each="postulation: ${postulations}" th:value="${postulation.id}">
                <div><u>Région : </u><span th:text="${postulation.offreEmploi.getRegion()}"></span></div>
                <div><u>Poste : </u><span th:text="${postulation.offreEmploi.getPoste()}"></span></div>
                <div><u>Type Offre : </u><span th:text="${postulation.offreEmploi.getTypeOffre()}"></span></div>
                <div><u>Description : </u><span th:text="${postulation.offreEmploi.getDescription()}"></span></div>
                <div>
                    <u>Recruteur :</u>
                    <ul>
                        <li th:if="${postulation.offreEmploi.getRecruteur() != null}">Pays / Ville :  <span th:text="${postulation.offreEmploi.getRecruteur().getPays()}"></span> - <span th:text="${postulation.offreEmploi.getRecruteur().getVille()}"></span> </li>
                        <li th:if="${postulation.offreEmploi.getRecruteur() != null}">Secteur d'activités : <span th:text="${postulation.offreEmploi.getRecruteur().getSecteurActivite()}"></span></li>
                        <li th:if="${postulation.offreEmploi.getRecruteur() != null}">Societé : <span th:text="${postulation.offreEmploi.getRecruteur().getSocieteDescription}"></span></li>
                        <li th:if="${postulation.offreEmploi.getRecruteur() != null}">URL Societé : <span th:text="${postulation.offreEmploi.getRecruteur().getSocieteUrl)}"></span></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="card" th:if="${postulations == null}">
        Vous n'avez pas postulé à aucun offre pour l'instant.
    </div>
</div>
<div th:insert="layout/footer :: footer">&copy; 2016 The Static Templates</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>